BEGIN;
--
-- Remove index publicacion_faculta_9df43f_idx from publicacion
--
DROP INDEX IF EXISTS "publicacion_faculta_9df43f_idx";
--
-- Remove index usuarios_faculta_b36819_idx from usuario
--
DROP INDEX IF EXISTS "usuarios_faculta_b36819_idx";
--
-- Remove field facultad from microsoftmappingrule
--
ALTER TABLE "microsoft_mapping_rules" DROP COLUMN "facultad_id" CASCADE;
--
-- Remove field facultad from publicacion
--
ALTER TABLE "publicaciones" DROP COLUMN "facultad_id" CASCADE;
--
-- Remove field facultad from usuario
--
ALTER TABLE "usuarios" DROP COLUMN "facultad_id" CASCADE;
COMMIT;
